# This workflow triggers a build of the production documentation site
# if a commit is made to the listed branches

name: Build production site

on:
  push:
    branches: [ main, 'v/*' ]

jobs:
  dispatch:
    uses: hazelcast/hz-docs/.github/workflows/build-site-workflow.yml@master
    secrets:
      netlify_build_hook_id: ${{ secrets.NETLIFY_BUILD_HOOK_ID }}
